
/*

BITS
-------------------------------------------
Table of Contents

	- Colors

	- Spacing

------------------------------------------- */


/*

COLORS
-------------------------------------------
@colors

Color Variables
------------------------------------------- */

$darkColor: #475b7b;
$lightColor: #aaa;
$headingColor: #333;
$bodyColor: #666;
$linkColor: #e79137;
$borderColor: #eee;
$alertColor: #e54a4f;



/*

SPACING
-------------------------------------------
@spacing

Spacing Variables
------------------------------------------- */

$spacing-xxs: 10px;
$spacing-xs: 20px;
$spacing-s: 30px;
$spacing-m: 40px;
$spacing-l: 50px;
$spacing-xl: 60px;
