.main-content {
  margin: 50px 0 50px 270px;
  width: 800px;
  @extend %clearfix;
}


.page-description {
  border-bottom: 5px solid $borderColor;
  padding: 0 0 $spacing-xs;
  margin: 0 0 $spacing-l;
  .subtitle {
    color: $lightColor;
    font-size: 1.1em;
  }
}

/* Section Specific Styles ------ */

.module {
  border-bottom: 1px solid $borderColor;
  padding: 0 0 $spacing-s;
  margin: 0 0 $spacing-s;
  @extend %clearfix;
}

.section-title {
  color: lighten($darkColor, 30%);
  float: left;
  margin-left: -240px;
  text-align: right;
  width: 160px;
  @extend %clearfix;
  @extend %heading-size-m;
}

/* Color Section Specific Styles ------ */

.color {
  margin-right: 20px;
  float: left;
  @extend %clearfix;
  &:last-child {
    margin: 0;
  }
  h3 {
    font-size: 1em;
    margin: 0;
  }
  p {
    font-size: 1em;
  }
}

.color-swatch {
  width: 40px;
  height: 40px;
  background: #ccc;
  margin: 0 auto $spacing-xxs;
}

.color__darkColor {background: $darkColor;}
.color__lightColor {background: $lightColor;}
.color__headingColor {background: $headingColor;}
.color__bodyColor {background: $bodyColor;}
.color__linkColor {background: $linkColor;}
.color__borderColor {background: $borderColor;}
.color__alertColor {background: $alertColor;}


/* Typography Section Specific Styles ------ */

.entry {
  margin: $spacing-m 0 0;
  width: 620px;
}

p.pubdate {
  color: $lightColor;
  font-size: $text-size-xs;
  font-weight: bold;
  margin: 0 0 $spacing-xs;
  @extend %sans;
}
